.boxy {
  border: dotted red;
}

body {
  background-color: hsl(47, 79%, 79%);
  height: 100%;
}

.wrapper {
  margin: auto;
  height: 600px;
}

.headerContainer {
  display: flex;
  margin-top: 1em;
  background: #f86300;
  box-shadow: 10px 5px 5px;
}

.headerContainer > h3 {
  margin: 2em;
}

.logoContainer {
  display: flex;
  margin: 1em;
  justify-content: flex-end;
  width: 100%;
}

img {
  justify-content: flex-end;
}

.menuContainer {
  width: 200px;
}

.titleContainer {
  display: flex;
  width: 200%;
  justify-content: center;
}

.gridWrapper {
  display: grid;
  grid-template-rows: 25% 100px auto;
}

.cardStyle {
  margin: auto;
  margin-top: 40px;
  max-width: 30%;
  min-width: 30%;
  height: 500px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
