.boxy {
  border: dotted red;
}

body {
  background-color: hsl(47, 79%, 79%);
  height: 100%;
}

.wrapper {
  margin: auto;
  height: 600px;
}

.headerContainer {
  display: flex;
  background: #f86300;
  box-shadow: 10px 5px 5px;
}

.headerContainer > h3 {
  margin: 2em;
}

.logoContainer {
  display: flex;
  margin: 1em;
  justify-content: flex-end;
  width: 100%;
}

img {
  justify-content: flex-end;
}

.menuContainer {
  width: 200px;
}

.titleContainer {
  display: flex;
  width: 200%;
  justify-content: center;
}

.gridWrapper {
  display: grid;
  grid-template-rows: 25% 100px auto;
}

.cardStyle {
  margin: auto;
  margin-top: 25px;
  width: 70%;
  height: 450px;
  text-align: center;
  padding: 5px;
  background: #28a6dc;
  box-shadow: 10px 5px 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.cardImage {
  width: 350px;
  height: 250px;
}

.paragraphContainer {
  margin: auto;
  width: 98%;
  height: 25%;
  font-size: 1.3em;
}
